:root {
  --background: var(--bg-primary);
  --foreground: var(--text-primary);
  --light-tile: #f0D8b7;
  --dark-tile: #B48764;
  --tile-size: 72px;
  --hightlight : rgba(0,0,0,.1);
}

@media all and (max-width: 450px) {
  :root {
    --tile-size: 50px;
  }
}
