@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --light-tile: #f0D8b7;
  --dark-tile: #B48764;
  --tile-size: 72px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media all and (max-width: 450px) {
  :root {
    --tile-size: 50px;
  }
}

.App {
  display: grid;
  place-content: center;
  height: 100vh;
  background: var(--background);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
